body {
	margin: 0 auto;
}

.navbar {
	height: 70px;
	background-color: #FF62D5;
	box-shadow: 3px 3px 3px #999; 
    -moz-box-shadow: 3px 3px 3px #999;
    -webkit-box-shadow: 3px 3px 3px #999;
}

.title {
	font-family: 'Tillana', cursive;
	font-size: 40px;
	padding-top: 6px;
	padding-left: 10px;
}

h1 {
	font-family: Arial;
	font-size: 30px;
	padding-left: 30px;
}

.signout-btn {
	border-radius: 4%;
	margin-left: 30px;
}

.channel-names {
	font-family: Arial;
	list-style-type: none;
}

a {
	text-decoration: none;
}
/*
.name {
	font-family: Arial;
	font-size: 20px;
	padding-left: 40px;
	padding-top: 20px;
}

.message {
	font-family: Arial;
	font-size: 20px;
	padding-left: 40px;
	padding-top: 20px;
}

.input {
	height: 30px;
	width: 500px;
}

.send-btn {
	height: 40px;
	width: 100px;
	background-color: #4CA4FF;
	border-radius: 5%;
	color: white;
	font-size: 30px;
	margin-top: 10px;
}

.messages {
	font-family: Arial;
	font-size: 20px;
	padding-left: 40px;
	padding-top: 20px;
}
*/