<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

<div class="header row">
	<div class="title col-sm-6">Chommies</div>
	<div class="col-sm-offset-3 col-sm-3">
		<button class="btn"><a class="myChommie-btn" href="#/me/isabel">My Chommie page</a></button>
	</div>
</div>

<div class="inputs" ng-class="{'isDisabled': isSending}">
	<div ng-show="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
	Select a name: <select ng-options="bru.id as bru.first_name for bru in brus" ng-model="selectedBru"></select>
	<input class="input-box" type="text" ng-model="newPropsValue">
	<button class="send-props" ng-click="sendProps(selectedBru, newPropsValue)"> Send Props </button>
</div>

<ul>
	<li class="feed-items" ng-repeat='p in props'>

		<div class="name"> @{{ p.receiver.first_name }} </div>
		<div class="prop"> - {{ p.text }} - </div>
	</li>
</ul>


