<!DOCTYPE>
<html>
<head>
	<title>Isabel's Grocery List</title>
</head>
<body ng-app="groceryList">
	<h1>Isabel's Grocery List</h1>
	<div ng-controller="ListCtrl">
		<div>
			<input ng-model="itemName"> Item Name
		</div>
		<div>
			<input ng-model="quantity"> Quantity
		</div>
		<div>
			<button ng-click="addItem()"> Add To List </button>
		</div>
		<input placeholder="Search" type="text" ng-model="searchBar">

		<ul>				
			<li ng-repeat="item in items | filter:searchBar track by $index">
				<button ng-click="add(item)"> + </button>
				<button ng-click="subtract(item)"> - </button>
				{{item.quantity}} {{item.name}}
			</li>
		</ul>
	</div>

	<script src="angular.js"></script>
	<script src="Day8afternoon.js"></script>
</body>
</html>
