h1 {
	text-align: center;
	color: blue;
	font-family: Roboto, Verdana, sans-serif;
	font-weight: lighter;
	font-size: 5rem;
	width: 100%;
}
h2 {
	color: grey;
	text-align: center;
	font-family: Roboto, Verdana, sans-serif;
	font-weight: lighter;
}